<a href="https://colab.research.google.com/github/rodrigoyujisato/alura-data-science-maio-2022/blob/main/aula-01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
file = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
data = pd.read_csv(file)
data.head()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
5057,Rua Tomé Portes,Brooklin Paulista,São Paulo,655,4,5,6,R$ 10.000\n /Mês

In [9]:
data.sample(12)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
9220,Rua Macarani,Bosque da Saúde,São Paulo,455,4,5,10,R$ 2.500.000
5234,Rua Cristiano Viana,Cerqueira César,São Paulo,125,3,1,1,R$ 1.300.000
5615,NaN,Vila Carrão,São Paulo,355,3,3,8,R$ 1.200.000
110,"Rua Prudentópolis, 97",Boaçava,São Paulo,1192,4,3,6,R$ 6.200.000
8966,Rua Calíope,Jardim Guedala,São Paulo,577,4,3,7,R$ 2.553.191
4135,NaN,Vila Antonieta,São Paulo,90,2,1,2,R$ 650.000
5919,Rua Hilário Magro Junior,Butantã,São Paulo,309,4,5,5,R$ 2.800.000
3448,Rua Doutor Valentino Sola,Jardim da Glória,São Paulo,243,3,4,3,R$ 1.800.000
2312,NaN,Cidade Jardim,São Paulo,550,4,1,6,R$ 4.800.000
4456,Rua Michel Mograbi,Praia Azul,São Paulo,471,6,4,8,R$ 3.000.000
90,"Rua José Barbosa, 186",Jardim das Vertentes,São Paulo,84,3,3,2,R$ 470.000
562,NaN,Chácara Japonesa,São Paulo,207,3,3,3,R$ 1.590.000

In [11]:
data["Bairro"][6522]

'Vila Paulo Silas'

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB

In [16]:
data["Metragem"].mean()

442.30065947242207

In [19]:
sum(data["Bairro"] == "Vila Mariana" * 1)

184

In [23]:
true_vila_mariana = ( data["Bairro"] == "Vila Mariana" )

In [24]:
imoveis_vila_mariana = data[true_vila_mariana]

In [25]:
imoveis_vila_mariana["Metragem"].mean()

233.6195652173913